In [1]:
import pandas as pd

In [4]:
y  = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [6]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [7]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [13]:
m = pd.Period('2011-12',freq='M')
m

Period('2011-12', 'M')

In [14]:
m.start_time

Timestamp('2011-12-01 00:00:00')

In [15]:
m.end_time

Timestamp('2011-12-31 23:59:59.999999999')

In [16]:
m+1

Period('2012-01', 'M')

In [17]:
d = pd.Period('2016-01-28', freq='D')

In [18]:
d

Period('2016-01-28', 'D')

In [22]:
d+4

Period('2016-02-01', 'D')

In [23]:
H = pd.Period('2016-01-28 23:00:00', freq='H')

In [24]:
H.start_time

Timestamp('2016-01-28 23:00:00')

In [25]:
H.end_time

Timestamp('2016-01-28 23:59:59.999999999')

In [26]:
H+3

Period('2016-01-29 02:00', 'H')

In [27]:
H + pd.offsets.Hour(5)

Period('2016-01-29 04:00', 'H')

In [28]:
q = pd.Period('2017Q1')

In [29]:
q

Period('2017Q1', 'Q-DEC')

In [30]:
q+5

Period('2018Q2', 'Q-DEC')

In [31]:
q = pd.Period('2017Q1',freq='Q-JAN')

In [32]:
q

Period('2017Q1', 'Q-JAN')

In [33]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [34]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [35]:
q+1

Period('2017Q2', 'Q-JAN')

In [36]:
q.asfreq("M",how="start")

Period('2016-02', 'M')

In [37]:
q2 = pd.Period('2018Q4',freq='Q-JAN')

In [38]:
q2-q

In [40]:
idx = pd.period_range('2016','2018',freq="Q-JAN")
idx

PeriodIndex(['2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1',
             '2018Q2', '2018Q3', '2018Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [41]:
idx[0].start_time

Timestamp('2015-11-01 00:00:00')

In [42]:
idx[0].end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [44]:
idx = pd.period_range('2011',periods=10,freq='Q-JAN')

In [45]:
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [47]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)),idx)

In [48]:
ps

2011Q4   -2.208302
2012Q1    2.776576
2012Q2   -1.500964
2012Q3    1.517894
2012Q4   -0.618228
2013Q1    0.091973
2013Q2    0.516184
2013Q3    1.178144
2013Q4   -2.214089
2014Q1   -0.428702
Freq: Q-JAN, dtype: float64

In [49]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [50]:
ps['2011']

2011Q4   -2.208302
2012Q1    2.776576
2012Q2   -1.500964
2012Q3    1.517894
2012Q4   -0.618228
Freq: Q-JAN, dtype: float64

In [51]:
pst = ps.to_timestamp()
pst

2010-11-01   -2.208302
2011-02-01    2.776576
2011-05-01   -1.500964
2011-08-01    1.517894
2011-11-01   -0.618228
2012-02-01    0.091973
2012-05-01    0.516184
2012-08-01    1.178144
2012-11-01   -2.214089
2013-02-01   -0.428702
Freq: QS-NOV, dtype: float64

In [65]:
df = pd.read_csv("wmt.csv")

In [66]:
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [67]:
df.set_index('Line Item', inplace=True)

In [68]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [69]:
df = df.T

In [70]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [71]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [72]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [73]:
df["start_time"] = df.index.map(lambda x: x.start_time)

In [75]:
df["end_time"] = df.index.map(lambda x: x.end_time)

In [76]:
df

Line Item  Revenue  Expenses  Profit start_time                      end_time
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999