In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("nyc_weather.csv")

In [11]:
weather = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,20,34,12,24,30],
    'windspeed':[6,7,8,4,5,6],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df1 = pd.DataFrame(weather)

In [4]:
df["Temperature"].max()

50

In [5]:
df['EST'][df["Events"] == "Rain"]

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [7]:
df.fillna(0, inplace=True)
df["WindSpeedMPH"].mean()

6.225806451612903

In [13]:
df1.shape

(6, 4)

In [14]:
df.shape

(31, 11)

In [17]:
df[2:5]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [18]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [22]:
df.EST.tail() # or df['EST']

26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

In [23]:
type(df['DewPoint'])

pandas.core.series.Series

In [25]:
df[['EST','Events']].head()

        EST Events
0  1/1/2016    NaN
1  1/2/2016    NaN
2  1/3/2016    NaN
3  1/4/2016    NaN
4  1/5/2016    NaN

# 10:19